.app__header {
    /* background-color: var(--color-black); */
    background: url('../../assets/22.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: local;
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 500%;
    margin:  3rem 0 5rem 0;
}

.app__header-h2 {
    font-family: var(--font-base);
    color: var(--color-crimson);
    font-weight: 300;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 11px;
    font-size: 150%;

}

.app__header-button {
        display: block;

    
} 



.app__header-img img {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
} 


@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 600%;
        line-height: 210px;
        
    }
    
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 400%;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 400%;
        line-height: 87px;
        margin:  3rem 0 5rem 0;
    }
    
    .app__header-h2 {
    
        font-size: 100%;
    
    }
    .app__header-img img {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 50%;
    }
    
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 400%;
        line-height: 70px;
        margin:  3rem 0 5rem 0;
    } 
    .app__header-h2 {
    
        font-size: 100%;
    
    }
    
}